<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div class="post-header">
      <h1 class="species title">{{ .Params.genus }} {{ .Params.sp1 }} <span style="font-weight:100;font-style: normal;font-size: 16px;">{{ .Params.author1 }}{{ if .Params.rank1 }} {{ .Params.rank1 }} <span class="species">{{ .Params.sp2 }}</span> {{ .Params.author2 }}{{end}} ({{ .Params.family | upper }})</span></h1>
      <div class="meta">Posted at &mdash; {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
      {{ if .Params.imagecover }}
      {{ $imageurl := print .Site.Params.baseBoxURL .Params.imagecover }}
      <img src="{{ $imageurl | safeURL }}" alt="{{ .Params.vernacular }}" />
      {{ end }}
		</div>

		<div class="markdown">
      {{ .Params.vernacular }}
      <hr />
      <h3>Description</h3>
      {{ .Content }}
      {{- if .Params.ecology -}}
      <hr />
      <h3>Ecology</h3>
      {{ .Params.ecology }}
      {{- end -}}
      {{- if .Params.distribution -}}
      <hr />
      <h3>Distribution</h3>
      {{ .Params.distribution }}
      {{- end -}}
      {{- if .Params.uses -}}
      <hr />
      <h3>Uses</h3>
      {{ .Params.uses }}
      {{- end -}}
    </div>
    {{- if .Params.imagegallery -}}
    <hr />
    <div class="post-gallery">
      <h3>Gallery</h3>
      <div class="gallery">
      {{ $boxURL := .Site.Params.baseBoxURL }}
      {{- range $img := .Params.imagegallery -}}
      {{ $imgURL := print $boxURL $img }}
      <a href="{{ $imgURL | safeURL }}">
      <img class="gallery-image" src="{{ $imgURL | safeURL }}" alt="" />
      </a>
      {{- end -}}
      </div>
    </div>
    {{- end -}}
		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<nav class="nav tags">
							<ul class="flat">
								{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
								{{ end }}
							</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
